.header{
    width:100%;
    margin:0px;
    font-size:25px;
}
.note{
    font-size:18px;
    color:black;
}
body{
    background-size:cover;
    text-align: center;
}
.play{
    width:145px;
    font-size:20px;
}
canvas{
    border: 3px dotted black;
    box-shadow: 10px 10px 10px lightskyblue;
    border-radius: 10px;
}